@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: clamp(14px, 4vw, 30px);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: 200;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: clamp(22px, 6vw, 40px);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: clamp(14px, 4vw, 30px);
}

.home {
  height: 100vh;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  background-color: #f6f6f6;
}
.header__heading {
  align-self: center;
}

.location {
  height: 6vh;
  background: rgb(206, 206, 206);
  background: linear-gradient(180deg, rgb(206, 206, 206) 0%, rgb(234, 234, 234) 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__place {
  padding: 15px 0 15px 0;
}
.location__location {
  font-weight: bold;
  padding-left: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vw;
  width: 50%;
  border: none;
  border-radius: 6vw;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  color: white;
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
}

.intro-container {
  height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
}

.intro {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.intro__heading {
  width: 70%;
}
.intro__text {
  padding: 0 10% 0 10%;
}
.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vw;
  width: 50%;
  border: none;
  border-radius: 6vw;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
}
.intro__link {
  text-decoration: none;
  color: white;
}

.description {
  margin-left: 5%;
  margin-top: 5%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.description__heading {
  height: 15%;
  display: flex;
  align-items: center;
}

.description-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 90%;
  align-self: center;
  justify-content: space-around;
}
.description-list__lign {
  display: flex;
  height: 25%;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
}
.description-list__lign:hover {
  background-color: #e4d5f6;
}
.description-list__lign:hover i {
  color: #9356dc;
}
.description-list__lign-number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: clamp(14px, 4vw, 30px);
  left: calc(clamp(14px, 4vw, 30px) * -1);
  height: calc(clamp(14px, 4vw, 30px) * 2);
  width: calc(clamp(14px, 4vw, 30px) * 2);
  font-weight: bold;
}
.description-list__lign-text {
  font-weight: bold;
}
.description-list__icon {
  position: absolute;
  left: 10%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #f6f6f6;
}
.restaurants__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 5vh;
  width: 90%;
  margin-bottom: 5vh;
}
.restaurants__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
.restaurants__list li {
  margin-bottom: 2vh;
}

.restaurant-card {
  position: relative;
  background-color: white;
  border-radius: 4vw;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.restaurant-card__link {
  color: black;
}
.restaurant-card__img {
  border-radius: 4vw 4vw 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.restaurant-card__new {
  color: #008766;
  background-color: #99e2d0;
  font-weight: bold;
  padding: 2% 3% 2% 3%;
  position: absolute;
  right: 6%;
  top: 6%;
  display: none;
}
.restaurant-card__new--visible {
  display: block;
}
.restaurant-card__bottom-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.restaurant-card__title {
  white-space: nowrap;
  padding-bottom: 2%;
}
.restaurant-card__like i {
  font-size: 6vw;
}
.restaurant-card__like i:hover {
  font-weight: 600;
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 2vh;
  height: 6vh;
}
.menu-header__link {
  position: absolute;
  text-decoration: none;
  color: black;
  left: 4%;
}
.menu-header__heading {
  font-size: 6vw;
}

.intro-menu {
  position: relative;
}
.intro-menu__img {
  width: 100%;
}
.intro-menu__heading {
  display: flex;
  justify-content: space-between;
  padding: 10% 5% 0 5%;
  position: absolute;
  bottom: 0px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 40px 40px 0 0;
}
.intro-menu__title {
  font-family: Shrikhand, sans-serif;
  font-weight: 200;
  font-size: 6vw;
  padding-bottom: 10%;
}
.intro-menu__like i {
  font-size: 6vw;
}
.intro-menu__like i:hover {
  font-weight: 600;
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  background-color: #f6f6f6;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__heading {
  width: 90%;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2%;
  font-weight: 400;
}
.menu__heading-border {
  position: absolute;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  bottom: -20%;
  left: 0;
}

.menu-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-form-list {
  width: 90%;
  margin-bottom: 5%;
}
.menu-form-list__lign {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
  width: 100%;
  border-radius: 4vw;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}
.menu-form-list__lign-checkbox:checked ~ .menu-form-list__lign-price {
  transform: translateX(0%);
}
.menu-form-list__lign-checkbox:checked ~ .menu-form-list__lign-box {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
}
.menu-form-list__lign-checkbox:checked ~ .menu-form-list__lign-box i {
  transform: rotate(360deg);
}
.menu-form-list__lign-checkbox:checked + .menu-form-list__lign-left-group .menu-form-list__lign-text, .menu-form-list__lign-checkbox:checked + .menu-form-list__lign-left-group .menu-form-list__lign-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-form-list__lign-label {
  display: flex;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.menu-form-list__lign-left-group {
  padding: 3% 0 3% 3%;
  display: flex;
  flex-direction: column;
  width: 65%;
  white-space: nowrap;
}
.menu-form-list__lign-title {
  padding-bottom: 3%;
}
.menu-form-list__lign-price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  padding: 3%;
  transform: translateX(150%);
  transition: transform 200ms;
  height: 100%;
}
.menu-form-list__lign-checkbox {
  position: absolute;
  visibility: hidden;
}
.menu-form-list__lign-box {
  width: 20vw;
  background-color: #99e2d0;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  border-radius: 0% 4vw 4vw 0;
  transition: transform 200ms;
}
.menu-form-list__lign-box i {
  font-size: 4vw;
  color: white;
  transition: transform 400ms;
}
.menu-form__button {
  margin-bottom: 10%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  align-items: center;
}
.footer__heading {
  font-family: Shrikhand, sans-serif;
  font-weight: 200;
  color: white;
  display: flex;
  align-items: center;
  font-size: 4.5vw;
  height: 15vw;
  width: 90%;
}
.footer__nav {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 10%;
  margin-bottom: 5vw;
}

.footer-lign {
  height: 15%;
  color: white;
}
.footer-lign__icon {
  padding-right: 2%;
}
.footer-lign__icon--large {
  font-size: 0.7em;
}
.footer-lign__link {
  color: white;
}/*# sourceMappingURL=style.css.map */