@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@-webkit-keyframes heart-fill {
  from {
    transform: scale(0);
  }
  to {
    font-weight: 600;
    transform: scale(1);
  }
}
@keyframes heart-fill {
  from {
    transform: scale(0);
  }
  to {
    font-weight: 600;
    transform: scale(1);
  }
}
@-webkit-keyframes line-appear {
  0% {
    opacity: 0%;
    transform: translateY(50%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@keyframes line-appear {
  0% {
    opacity: 0%;
    transform: translateY(50%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@-webkit-keyframes page-appear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes page-appear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-webkit-keyframes loader-disappear {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes loader-disappear {
  0% {
    opacity: 100%;
    visibility: visible;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  font-size: clamp(10px, 4vw, 30px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
}
@media (min-width: 992px) {
  body {
    font-size: clamp(12px, 1.2vw, 26px);
  }
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: 200;
}
@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: clamp(22px, 6vw, 40px);
}
@media (min-width: 992px) {
  h2 {
    font-size: clamp(24px, 2vw, 40px);
  }
}

ul {
  list-style: none;
}

a {
  font-family: Roboto, sans-serif;
  font-size: clamp(10px, 4vw, 30px);
}
@media (min-width: 992px) {
  a {
    font-size: clamp(12px, 1.2vw, 26px);
  }
}

label {
  z-index: 1;
  cursor: pointer;
}

address {
  font-style: normal;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vw;
  max-height: 95px;
  width: 50%;
  max-width: 382px;
  border: none;
  border-radius: 6vw;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  color: white;
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
  cursor: pointer;
}
.button:hover, .button:active {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  filter: brightness(110%);
}
@media (min-width: 992px) {
  .button {
    min-width: 200px;
  }
}

.card {
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4vw;
}
.card:hover, .card:active {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .card {
    border-radius: 20px;
    min-height: 82px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  align-items: center;
  width: 100%;
}
.footer__heading {
  font-family: Shrikhand, sans-serif;
  font-weight: 200;
  color: white;
  display: flex;
  align-items: center;
  font-size: 4.5vw;
  height: 15vw;
  width: 90%;
}
@media (min-width: 992px) {
  .footer__heading {
    font-size: 40px;
  }
}
.footer__nav {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 10%;
  margin-bottom: 5vw;
}
.footer__line {
  height: 15%;
  color: white;
}
.footer__icon {
  padding-right: 2%;
}
.footer__icon--large {
  font-size: 0.7em;
}
.footer__link {
  color: white;
}
@media (min-width: 992px) {
  .footer {
    height: 10vh;
    flex-direction: row;
  }
  .footer__heading {
    display: none;
  }
  .footer__nav {
    height: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer__line {
    display: flex;
    height: 100%;
    white-space: nowrap;
    align-items: center;
  }
}

.loader-container {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-animation: loader-disappear 1000ms 2000ms both;
          animation: loader-disappear 1000ms 2000ms both;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container__loader {
  position: fixed;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: transparent 10px solid;
  border-top: #9356dc 20px solid;
  border-bottom: #ff79da 20px solid;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  background-color: #f6f6f6;
}
.header__heading {
  align-self: center;
}

.hero {
  height: 90vh;
}
@media (min-width: 992px) {
  .hero {
    height: 30vh;
  }
}

.location {
  height: 6%;
  background: rgb(206, 206, 206);
  background: linear-gradient(180deg, rgb(206, 206, 206) 0%, rgb(234, 234, 234) 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__place {
  padding: 15px 0 15px 0;
}
.location__location {
  font-weight: bold;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .location {
    height: 20%;
  }
}

.intro-container {
  height: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
}
@media (min-width: 992px) {
  .intro-container {
    height: 40%;
  }
}

.intro {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.intro__heading {
  width: 70%;
}
.intro__text {
  padding: 0 10% 0 10%;
}
@media (min-width: 992px) {
  .intro__button {
    display: none;
  }
}

.description {
  margin-left: 5%;
  margin-top: 5%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.description__heading {
  height: 15%;
  display: flex;
  align-items: center;
}
.description__list {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 90%;
  align-self: center;
  justify-content: space-around;
}
.description__line {
  display: flex;
  height: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
}
.description__line:hover, .description__line:active {
  background-color: #e4d5f6;
}
.description__line:hover i, .description__line:active i {
  color: #9356dc;
}
.description__line-number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: clamp(14px, 4vw, 20px);
  left: calc(clamp(14px, 4vw, 20px) * -1);
  height: calc(clamp(14px, 4vw, 20px) * 2);
  width: calc(clamp(14px, 4vw, 20px) * 2);
  font-weight: bold;
}
.description__line-text {
  font-weight: bold;
}
.description__icon {
  position: absolute;
  left: 10%;
}
@media (min-width: 992px) {
  .description {
    background-color: #f6f6f6;
    margin: 0;
    height: 40%;
    justify-content: center;
    align-items: center;
  }
  .description__heading {
    height: 30%;
    width: 90%;
  }
  .description__list {
    height: 70%;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .description__line {
    align-self: center;
    width: 25%;
    height: 80%;
    background-color: white;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #f6f6f6;
}
.restaurants__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 5vh;
  width: 90%;
  margin-bottom: 5vh;
}
.restaurants__list {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}
.restaurants__line {
  margin-bottom: 2vh;
}
@media (min-width: 992px) {
  .restaurants {
    height: 50vh;
  }
  .restaurants__heading {
    margin: 0;
    height: 10%;
  }
  .restaurants__list {
    margin: 0;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
    align-items: center;
  }
  .restaurants__line {
    margin: 0;
  }
}
@media (min-width: 992px) and (max-width: 1600px) {
  .restaurants__list {
    grid-template-columns: 40% 40%;
    -moz-column-gap: 5%;
         column-gap: 5%;
    row-gap: 5%;
    justify-content: center;
    align-content: center;
    max-width: 46%;
    min-width: 724px;
  }
}

.restaurant-card {
  position: relative;
}
.restaurant-card__link {
  color: black;
}
.restaurant-card__img {
  border-radius: 4vw 4vw 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.restaurant-card__new {
  color: #008766;
  background-color: #99e2d0;
  font-weight: bold;
  padding: 2% 3% 2% 3%;
  position: absolute;
  right: 6%;
  top: 6%;
  display: none;
}
.restaurant-card__new--visible {
  display: block;
}
.restaurant-card__bottom-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.restaurant-card__title {
  white-space: nowrap;
  padding-bottom: 2%;
}
.restaurant-card__checkbox {
  position: absolute;
  visibility: hidden;
}
.restaurant-card__checkbox:checked + .restaurant-card__like i {
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart-fill 100ms both;
          animation: heart-fill 100ms both;
}
.restaurant-card__like {
  position: absolute;
  right: 5%;
  bottom: 10%;
}
.restaurant-card__like i {
  font-size: 6vw;
}
@media (min-width: 992px) {
  .restaurant-card {
    border-radius: 20px;
  }
  .restaurant-card__img {
    border-radius: 20px 20px 0 0;
  }
  .restaurant-card__like i {
    font-size: 1.5vw;
  }
}

@media (min-width: 992px) {
  .menu-body {
    background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
}

.menu-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 2vh;
  height: 6vh;
}
.menu-header__link {
  position: absolute;
  text-decoration: none;
  color: black;
  left: 4%;
}
@media (min-width: 992px) {
  .menu-header {
    margin: 0;
    height: 10vh;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6;
  }
  .menu-header__heading {
    font-size: 60px;
  }
  .menu-header__link i {
    font-size: 30px;
  }
}

.menu-intro {
  position: relative;
}
.menu-intro__img {
  width: 100%;
}
.menu-intro__heading {
  display: flex;
  justify-content: space-between;
  padding: 10% 5% 0 5%;
  position: absolute;
  bottom: 0px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 10vw 10vw 0 0;
}
.menu-intro__title {
  font-family: Shrikhand, sans-serif;
  font-weight: 200;
  font-size: clamp(20px, 7vw, 40px);
  padding-bottom: 10%;
}
@media (min-width: 992px) {
  .menu-intro__title {
    font-size: 60px;
  }
}
.menu-intro__checkbox {
  position: absolute;
  visibility: hidden;
}
.menu-intro__checkbox:checked + .menu-intro__like i {
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart-fill 100ms both;
          animation: heart-fill 100ms both;
}
.menu-intro__like {
  padding-right: 5%;
}
.menu-intro__like i {
  font-size: clamp(10px, 7vw, 40px);
}
@media (min-width: 992px) {
  .menu-intro {
    margin-top: 10vh;
    height: 15vh;
    display: flex;
    justify-content: center;
  }
  .menu-intro__img {
    display: none;
  }
  .menu-intro__heading {
    padding: 40px 4%;
    width: 90%;
    position: initial;
    border-radius: 4vw 4vw 0 0;
  }
  .menu-intro__title {
    padding: 0;
  }
  .menu-intro__like {
    padding: 0;
  }
  .menu-intro__like i {
    font-size: 60px;
  }
}

.menu {
  background-color: #f6f6f6;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__heading {
  position: relative;
  width: 90%;
  margin-bottom: 5%;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(10px, 4vw, 30px);
}
@media (min-width: 992px) {
  .menu__heading {
    font-size: clamp(20px, 1.8vw, 34px);
  }
}
.menu__heading:after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #99e2d0;
  width: 5%;
  bottom: -30%;
  left: 0;
}
.menu__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  width: 90%;
  margin-bottom: 5%;
}
.menu__list li:nth-child(1) {
  -webkit-animation: line-appear 1000ms 200ms both;
          animation: line-appear 1000ms 200ms both;
}
.menu__list li:nth-child(2) {
  -webkit-animation: line-appear 1000ms 400ms both;
          animation: line-appear 1000ms 400ms both;
}
.menu__list li:nth-child(3) {
  -webkit-animation: line-appear 1000ms 800ms both;
          animation: line-appear 1000ms 800ms both;
}
.menu__list li:nth-child(4) {
  -webkit-animation: line-appear 1000ms 1600ms both;
          animation: line-appear 1000ms 1600ms both;
}
.menu__line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}
.menu__button {
  margin-bottom: 10%;
  font-family: Roboto, sans-serif;
  font-size: clamp(10px, 4vw, 30px);
}
@media (min-width: 992px) {
  .menu__button {
    font-size: clamp(12px, 1.2vw, 26px);
  }
}
@media (min-width: 992px) {
  .menu {
    justify-content: center;
    background: transparent;
    height: 55vh;
  }
  .menu__form {
    background-color: #f6f6f6;
    width: 90%;
    height: 100%;
    display: grid;
    padding: 0 2% 0 2%;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 2%;
         column-gap: 2%;
  }
  .menu__form #entrees-title {
    grid-column: 1;
    grid-row: 1;
  }
  .menu__form #plats-title {
    grid-column: 2;
    grid-row: 1;
  }
  .menu__form #desserts-title {
    grid-column: 3;
    grid-row: 1;
  }
  .menu__form #entrees {
    grid-column: 1;
    grid-row: 2;
  }
  .menu__form #plats {
    grid-column: 2;
    grid-row: 2;
  }
  .menu__form #desserts {
    grid-column: 3;
    grid-row: 2;
  }
  .menu__heading {
    margin: 0;
  }
  .menu__heading:after {
    width: 100%;
  }
  .menu__list {
    padding-top: 5%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .menu__button {
    grid-column: 2;
    grid-row: 3;
    margin: 6%;
    justify-self: center;
    font-size: 26px;
  }
}

.dish-card {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}
.dish-card__label {
  position: absolute;
  width: 100%;
  height: 100%;
}
.dish-card__checkbox:checked ~ .dish-card__price {
  transform: translateX(0%);
}
.dish-card__checkbox:checked ~ .dish-card__box {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
}
.dish-card__checkbox:checked ~ .dish-card__box i {
  transform: rotate(360deg);
}
.dish-card__checkbox:checked + .dish-card__left-group .dish-card__text, .dish-card__checkbox:checked + .dish-card__left-group .dish-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-card__left-group {
  padding: 3% 0 3% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  white-space: nowrap;
}
.dish-card__title {
  font-family: Roboto, sans-serif;
  font-size: clamp(12px, 5vw, 30px);
  padding-bottom: 3%;
}
@media (min-width: 992px) {
  .dish-card__title {
    font-size: clamp(16px, 1.6vw, 32px);
  }
}
.dish-card__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  padding: 3%;
  transform: translateX(100%);
  transition: transform 200ms;
  height: 100%;
  width: 20%;
  max-width: 14vw;
}
.dish-card__checkbox {
  position: absolute;
  visibility: hidden;
}
.dish-card__box {
  width: 20%;
  max-width: 14vw;
  background-color: #99e2d0;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4vw 4vw 0;
  transform: translateX(100%);
  transition: transform 200ms;
}
.dish-card__box i {
  font-size: 4vw;
  color: white;
  transition: transform 400ms;
}
@media (min-width: 992px) {
  .dish-card:hover .dish-card__price {
    transform: translateX(0%);
  }
  .dish-card:hover .dish-card__box {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
  }
  .dish-card:hover .dish-card__box i {
    transform: rotate(360deg);
  }
  .dish-card:hover .dish-card__text, .dish-card:hover .dish-card__title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dish-card__box {
    border-radius: 0 20px 20px 0;
    max-width: 16%;
  }
  .dish-card__box i {
    font-size: 2vw;
  }
}
@media (min-width: 1600px) {
  .dish-card {
    max-height: 90px;
  }
  .dish-card__left-group {
    padding: 5px 0 5px 15px;
  }
}/*# sourceMappingURL=style.css.map */