// Home

.loader-container{
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    animation: loader-disappear 1000ms 2000ms both;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__loader{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: $bg-grey 10px solid;
        border-top: $primaire 10px solid;
        border-bottom: $secondaire 10px solid;
        animation: spin 3s linear infinite;
    }
}

.hero{
    height: 90vh;
}

.location{
    height: 6%;
    @include bg-location-gradient();
    display: flex;
    justify-content: center;
    align-items: center;
    &__place{
        padding: 15px 0 15px 0;
        @include font(location);

    }
    &__location{
        padding-left: 10px;
        @include font(location);
    }
}

.intro-container{
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-grey;
}

.intro{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    &__heading{
        width: 70%;
    }
    &__text{
        padding: 2% 10%;
    }
    &__button-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }   
}

.description{
    margin-left: 5%;
    margin-top: 5%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__heading{
        height: 15%;
        display: flex;
        align-items: center;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-around; 
        height: 70%;
        width: 90%;
    }
    &__line{
        height: 25%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $bg-grey;
        &:hover, &:active{
            animation: description-hover 1000ms both;
            & i{
                color: $primaire;
            }
        }
    }
    &__line-number{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: $primaire;
        color: white;
        border-radius: 50%;
        $list-number-size: clamp(12px,3vw,20px);
        $list-number-position: calc($list-number-size * -1);
        font-size: $list-number-size;
        left: $list-number-position;
        height: calc($list-number-size*2);
        width: calc($list-number-size*2);
        font-weight: bold;
    }
    &__line-text{
        font-weight: bold;
    }
    &__icon{
        position: absolute;
        left: 10%;
    }
}

.restaurants{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: $bg-grey;
    &__heading{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 5vh;
        width: 90%;
        margin: 5vh;
    }
    &__list{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 10vh;
    }
    &__line{
        margin-bottom: 2vh;
    }
}

.restaurant-card{ 
    position: relative; 
    &__link{
        color: black;
    }
    &__img{
        border-radius: 4vw 4vw 0 0;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
    &__new{
        color: #008766;
        background-color: #99e2d0;
        font-weight: bold;
        padding: 2% 3% 2% 3%;
        position: absolute;
        right: 6%;
        top: 6%;
        display: none;
        &--visible{
            display: block;
        }
    }
    &__bottom-card{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:5%;
    }
    &__title{
        white-space: nowrap;
        padding-bottom: 2%;
    }
    &__checkbox{
        position: absolute;
        visibility: hidden;
        &:checked + .restaurant-card__like i{
            @include icon-gradient();
        }
    }
    &__like{
        position: absolute;
        right: 4%;
        bottom: 10%;
        &:hover{
            & i{
                @include icon-gradient();
            }
        }
    }
    &__like i{
        font-size: min(6vw, 40px);
    }
}