// Keyframes
    // Checkbox coeur
    @keyframes heart-fill {
        0%{
            transform: scale(1);
        }
        50% {
            transform: scale(0);
            }
        100% { 
            background: rgb(255,121,218);
            background: linear-gradient(172deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 90%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            transform: scale(1);
            }
    }
    // Apparition de ligne
    @keyframes line-appear{
        0%{
            opacity: 0%;
            transform: translateY(50%);
        }
        100%{
            opacity: 100%;
            transform: translateY(0%);
        }
    }
    // Apparition checkbox menu
    @keyframes box-appear{
        0%{
            transform: translatex(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }
    // Rotation check
    @keyframes check-rotate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
      
    }

    // Loader
    @keyframes loader-disappear{
        0%{
            opacity: 100%;
            visibility: visible;
        }
        100%{
            opacity: 0%;
            visibility: hidden;
        }
    }
    // spin du loader
    @keyframes spin{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
