// Keyframes
    // survol carte
    @keyframes card-hover{
        from{
            box-shadow: $shadow;
        }
        to{
            box-shadow: $shadow-hover;

        }
    }
    // survol bouton
    @keyframes button-hover{
        from{
            filter: brightness(100%);
            box-shadow: $shadow;
        }
        to{
            filter: brightness(110%);
            box-shadow: $shadow-hover;

        }
    }
    //  Survol cartes description
    @keyframes description-hover{
        from{
            background-color: $bg-grey;
        }
        to{
            background-color: lighten($primaire,30%);

        }
    }
    // Checkbox coeur
    @keyframes heart-fill {
        from {
            transform: scale(0);
            }
        to { 
            font-weight: 600;
            transform: scale(1);
            }
    }
    // Apparition de ligne
    @keyframes line-appear{
        0%{
            opacity: 0%;
            transform: translateY(50%);
        }
        100%{
            opacity: 100%;
            transform: translateY(0%);
        }
    }

    // Loader
    @keyframes loader-disappear{
        0%{
            opacity: 100%;
            visibility: visible;
        }
        100%{
            opacity: 0%;
            visibility: hidden;
        }
    }
    // spin du loader
    @keyframes spin{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
